body {
    font-family: 'Jetbrains Mono', monospace;
}

/* border surrounding post */
.content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    margin: 2% 10% 2% 15%;          /* top right bottom left */
}

h1, h2, h3, h4 {
    margin: 1% 12% 1% 12%;            /* top right bottom left */
}

p, ol {
    font-weight: 425;
    font-size: 14px;
    margin: 1% 12% 1% 12%;            /* top right bottom left */
}

/* code block */
pre {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    font-family: 'Jetbrains Mono', monospace;
    font-size: 12px;
    color: #282828;
    background-color: #fbf1c7;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 12%;
    margin-right: 12%;
    display: block;
}

div.frontmatter #author, #date, #tags {
    color: #818181;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

div.picture img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    height: auto;
    margin: 2% auto 2% auto;
    display: block;
}

div.desc {
    max-width: 80%;
    font-weight: 425;
    font-size: 12px;
    padding: 1% auto auto auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #818181;
}
