body {
    font-family: 'Jetbrains Mono', monospace;
}

.content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    margin: 2% 10% 2% 15%;          /* top right bottom left */
}

.post-box {
    background-color: #fff;
}

.post-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin-right: 2%;
    margin-left: 2%;
}

p {
    font-weight: 425;
    font-size: 14px;
    margin: 1% 2% 1% 2%;            /* top right bottom left */
}

dt {
    font-weight: 600;
    font-size: 20px;
    margin-right: 2%;
    margin-left: 2%;
}

dd {
    font-weight: 450;
    font-size: 14px;
}
