<html>
    <head>
        <link rel="stylesheet" href="../../theme/static/blog-post.css">
        <link rel="stylesheet" href="../../theme/static/navbar.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>BLOG POST</title>
    </head>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');
   </style>

    <body>
        <div class="sidenav">
            <a href="../pages/index.html">Home</a>
            <a href="../pages/archive.html">Archive</a>
            <a href="../pages/about.html">About</a>
        </div>

        <div class="content">
            <h1>BLOG POST</h1>

            <div class="frontmatter">
                <p id="author">Author: Bui Cao Truong Tin</p>
                <p id="date">Date: </p>
                <p id="tags">Tags: </p>
            </div>
        </div>
    </body>
</html>
