body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Jetbrains Mono', monospace;
    font-weight: 425;
}

.content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    margin: 2% 10% 2% 10%;          /* top right bottom left */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-align: center;
}

.post-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    margin: 1% 10% 1% 10%;
    font-size: 1.2rem;
}
