body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Jetbrains Mono', monospace;
    font-weight: 425;
}

/* border surrounding post */
.content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    margin: 2% 10% 2% 10%;          /* top right bottom left */
}

.frontmatter {
    color: #818181;
}

.frontmatter p {
    margin: 0% 10% 0% 10%
}

/* PC */
h1, h2, h3, h4, p, ol, ul {
    margin: 1% 10% 1% 10%;
}

img {
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
    border-radius: 10px;
    margin: 0.75rem 0.75rem;
}

/* MOBILE */
@media screen and (max-width: 80rem){
    h1, h2, h3, h4, p, ol, ul {
        margin: 4% 10% 4% 10%;
    }

    img {
        max-width: 75%;
    }
}

p, ol, ul {
    font-size: 1.2rem;
}


ol ul, ul ul, ul ol, ol ol,
ol ul ul, ul ul ul, ul ol ul {
    margin: 1% 0% 1% 0%;
}

/* source: https://stackoverflow.com/a/48694906 */
pre code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #666;
    page-break-inside: avoid;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    word-wrap: break-word;
    margin: 0% 10%;
    display: block;
}

code {
    border: 1px solid #ddd;
    background: #f4f4f4;
    padding: 0.05rem;
    word-wrap:  break-word;
    border-radius: 3px;
    color: #666;
}

figure {
    display: flex;
    align-items: center; 
    flex-direction: column;
}

/* source: https://css-tricks.com/examples/Blockquotes/ */
blockquote {
    margin: 3% 10%;
    padding-left: 15px;
    border-left: 3px solid #ddd;
    p {
        margin: 0;
    }
    /* source: https://codepen.io/chris22smith/pen/oQWavL */
    cite {
        display: block;
        font-style: italic;
        text-align: right;
        &:before {
        content: "- ";
      }
    }
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
}
