<!DOCTYPE html>
<html lang="en">

<!--
This section links required CSS files along with what is shown on the tab of
the browser.
-->
<head>
    <title>$title$</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../assets/style/navbar.css">
    <link rel="stylesheet" href="../assets/style/post.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="navbar">
        <a href="../index.html"><span class="material-symbols-outlined">turn_left</span></a>
        <a href="../index.html"><span class="material-symbols-outlined">cottage</span></a>
        <a href="../index.html"><span class="material-symbols-outlined">turn_right</span></a>
    </div>

    <div class="content">
        <h1>$title$</h1>

        <div class="frontmatter">
            <p>Author: $author$</p>
            <p>Date: $date$</p>
        </div>

        $body$
    </div>
</body>
</html>

